html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


@font-face {
    font-family: '8bit16';
    src: url("../font/8bit16.ttf");
}

:root {
    --grey: #333;
    --white: #F5F5F5;

    --purple-poison: #A040A0;
    --grey-steel: #B8B8D0;
    --brown-combat: #C03028;
    --purple-dragon: #7038f8;
    --blue-water: #6890F0;
    --yellow-electric: #F8D030;
    --pink-fairy: #EE99AC;
    --red-fire: #F08030;
    --blue-ice: #98D8D8;
    --green-inscet: #A8B820;
    --grey-normal: #A8A878;
    --green-plant: #78C850;
    --purple-psy: #F85888;
    --brown-rock: #B8A038;
    --yellow-ground: #E0C068;
    --dark-purple-spectre: #705898;
    --dark-brown-tenebre: #705848;
    --lavender-blue-vol: #A890F0;

    --hover-shiny-btn: #7a9cec;
    --bit-font: '8bit16';
}

.fire {
    background-color: var(--red-fire);
}

.poison {
    background-color: var(--purple-poison);
}

.grass {
    background-color: var(--green-plant);
}

.flying {
    background-color: var(--lavender-blue-vol);
}

.water {
    background-color: var(--blue-water);
}

.ice {
    background-color: var(--blue-ice);
}

.ghost {
    background-color: var(--dark-purple-spectre);
}

.normal {
    background-color: var(--grey-normal);
}

.electric {
    background-color: var(--yellow-electric);
}

.fairy {
    background-color: var(--pink-fairy);
}

.rock {
    background-color: var(--brown-rock);
}

.bug {
    background-color: var(--green-inscet);
}

.ground {
    background-color: var(--yellow-ground);
}

.steel {
    background-color: var(--grey-steel);
}

.fighting {
    background-color: var(--brown-combat);
}

.dark {
    background-color: var(--dark-brown-tenebre);
}

.psychic {
    background-color: var(--purple-psy);
}

.dragon {
    background-color: var(--purple-dragon);
}

body {
    background-color: var(--grey);
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

#pokemonTypes {
    display: flex;
    gap: .5rem;

    .type-label {
        padding: .5rem 1rem;
        border: outset 3px var(--grey);
        color: var(--white);

        &:hover {
            cursor: pointer;
            border: inset 3px var(--grey);
        }
    }
}

.bit-font {
    font-family: var(--bit-font);
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .loading {
        display: flex;
        gap: 1rem;

        .dot {
            border-radius: 50%;
            width: 8px;
            height: 8px;
            background-color: var(--white);
            animation: loaderAnimation 1s infinite ease-in-out;
            transition: all .2s ease;

            &:first-child {
                animation-delay: .1s;
            }

            &:nth-child(2) {
                animation-delay: .2s;
            }

            &:nth-child(3) {
                animation-delay: .3s;
            }

            &:nth-child(4) {
                animation-delay: .4s;
            }
        }
    }
}

@keyframes loaderAnimation {

    0%,
    100% {
        transform: translateY(-30px);
    }

    50% {
        transform: translateY(-15px);
    }

}

h1 {
    font-size: 1.8rem;
    text-align: center;
    color: var(--white);
    font-family: var(--bit-font);
}

#app {
    margin: 2rem auto;
    width: 100%;
    max-width: 340px;

    .inputContainer {
        margin-top: 1rem;

        label {
            color: var(--white);
        }

        .search-container {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: .8rem;
            gap: .5rem;

            input[type="text"] {
                width: 100%;
                padding: .5rem;
            }
            input {
               padding: .4rem 0; 
            }
            
        }
    }

    .container {
        margin-top: 1rem;
        #pokemonContainer {

            border: ridge 10px #33333378;
            border-radius: 4px;
            background-color: var(--white);
            padding-bottom: 1rem;

            figure {
                width: 250px;
                // height: 250px;
                margin: 0 auto;

                img {
                    width: 100%;
                }
            }

            #pokemonInfo {
                display: flex;
                flex-direction: column;
                gap: .8rem;
                .info-container {
                    padding: .5rem 1rem;
                    display: flex;
                    justify-content: space-between;

                    .key {
                        text-decoration: underline;
                    }
                }
            }

        }

        button {
            display: block;

            &:hover {
                cursor: pointer;
            }
        }
    }

    #shinyBtn {
        border: inset 3px var(--white);
        background: none;
        font-family: var(--bit-font);
        padding: .8rem 1.5rem;
        color: var(--white);
        background-color: var(--blue-water);
        transition: background-color .2s ease;

        &:hover {
            background-color: var(--hover-shiny-btn);
            border: outset 3px var(--white);
        }
    }
}

#right-btn,
#left-btn {
    border: solid 2px #33333378;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    align-content: center;
    text-align: center;
    background-color: var(--white);
    font-size: .8rem;
    transition: opacity .4s ease;

    &:hover {
        opacity: .9;

    }
}

.error-msg-container {
    padding: .5rem 1rem;
    background-color: rgba(255, 0, 0, 0.589);
    margin-top: 1rem;
    color: var(--white);
    border-radius: 4px;

    .error-msg {
        line-height: 1.5rem;
        font-family:Arial, Helvetica, sans-serif;
    }
    
}


@media (min-width: 748px) {
    #app {
        max-width: 460px;

        h1 {
            font-size: 2.5rem;
        }
    }
}

@media (min-width: 948px) {
    #app {
        max-width: 620px;

        .container {
            #pokemonContainer {

                figure {
                    width: 300px;
                    // height: 300px;

                }

                #pokemonInfo {
                    gap: 1.2rem;
                }

            }
        }

    }
}